@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.transition {
  transition: all ease .25s;
}

h1 {
  font-size: 56px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 30px;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: normal;
  color: black;
}

h3 {
  font-size: 24px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  color: black;
}

h4 {
  font-size: 24px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: black;
}

p,input,textarea {
  font-size: 16px;
  font-family: "Georgia", serif;
  font-weight: 400;
  color: black;
  line-height: 1.2;
}

a {
  text-decoration: underline;
  color: #26846a;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}/* No files to import found in components//* *//* No files to import found in objects//* */* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header.global {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #141414;
}

header.global .branding {
  width: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header.global .branding .logo {
  display: inline-block;
  height: auto;
  width: 75px;
  margin-right: 20px;
}

header.global .branding h1 {
  display: inline-block;
  color: white;
}

header.global nav {
  width: 25%;
}

header.global nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header.global nav ul li {
  margin: 0 10px;
}

header.global nav ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-size: cover;
}

header.global nav ul li a[href*="twitter.com"] {
  background-image: url(../img/twitter.jpg);
}

header.global nav ul li a[href*="facebook.com"] {
  background-image: url(../img/facebook.jpg);
}

header.global nav ul li a[href*="instagram.com"] {
  background-image: url(../img/instagram.jpg);
}

header.global nav ul li a[href*="youtube.com"] {
  background-image: url(../img/youtube.jpg);
}

.promo {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}

.promo .promo-video {
  height: 40vw;
  width: 100%;
}

.promo .promo-video iframe {
  height: 100%;
}

.promo .promo-image {
  width: 100%;
  height: 40vw;
}

.products header {
  width: 100%;
  text-align: center;
}

.products header h1 {
  margin-bottom: 30px;
}

.products .content {
  width: 100%;
}

.products .content .tabs {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.products .content .tabs .tab {
  padding: 15px;
  background-color: #cccccc;
  text-align: center;
  cursor: pointer;
}

.products .content .tabs .tab:hover {
  text-decoration: underline;
}

.products .content .tabs .tab:nth-child(odd) {
  background-color: silver;
}

.products .content .tabs .tab.active {
  background-color: #f0f0f0;
}

.products .content .tabs .tab .tab-content-hidden {
  display: none;
}

.products .content .tab-content-display {
  width: 100%;
  padding: 30px;
  display: block;
  background-color: #f0f0f0;
}

.products .content .tab-content-display h3 {
  width: 100%;
  margin-bottom: 20px;
}

.products .content .tab-content-display .products-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products .content .tab-content-display .products-container .product-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 15px;
}

.products .content .tab-content-display .products-container .product-item:hover {
  background-color: silver;
}

.products .content .tab-content-display .products-container .product-item .product-item-image {
  display: block;
  width: 30%;
  height: auto;
}

.products .content .tab-content-display .products-container .product-item .product-item-text {
  display: block;
  width: 70%;
  padding: 0 15px;
}

.products .content .tab-content-display .products-container .product-item .product-item-text h4 {
  margin-bottom: 15px;
}

.products .content .tab-content-display .products-container .product-item .product-item-text p {
  margin-bottom: 10px;
}

.about {
  padding: 30px;
  width: 100%;
}

.about header {
  width: 100%;
  text-align: center;
}

.about header h1 {
  margin-bottom: 30px;
}

.about .content {
  width: 100%;
}

.about .content p,.about .content h4,.about .content h3,.about .content h2 {
  margin-bottom: 15px;
}

.contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  background-color: #f0f0f0;
}

.contact .contact-info {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #a1a1a1;
}

.contact .contact-info h2 {
  margin-bottom: 15px;
}

.contact .contact-form {
  width: 50%;
  padding: 20px;
}

.gform_fields {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.gform_fields .gfield {
  width: 48%;
  margin-bottom: 15px;
  padding: 0;
}

.gform_fields .gfield .gfield_label {
  display: none;
}

.gform_fields .gfield input,.gform_fields .gfield textarea {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
}

.gform_fields .gfield:last-of-type {
  width: 100%;
}

.gform_footer {
  width: 100%;
}

.gform_footer input {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #26846a;
  color: white;
  border: none;
}

.gform_footer input:hover {
  background-color: #37bf9a;
  cursor: pointer;
}

footer {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  header.global .branding .logo {
    width: 55px;
  }

  header.global .branding h1 {
    font-size: 30px;
  }

  .products .content .tab-content-display .products-container .product-item {
    width: 100%;
  }

  .contact .contact-info {
    width: 100%;
    padding: 20px;
    border-right: none;
    margin-bottom: 20px;
  }

  .contact .contact-form {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .gform_fields .gfield {
    width: 100%;
  }
}
