$black: #000;
$white: #FFF;
$white-off: #f4f4f4;

$grey: #848483;
$grey-medium: #777777;
$grey-light: #c1c1c1;

$sky: #b5babf;
$sky-dark: #2c323a;

$blue: #00275d;
$blue-alt: #255aa2;
$blue-medium: #05295b;
$blue-light: #4c70a0;

$green: #248232;
$green-muted: #3a7d44;
$green-light: lighten($green, 10%);
