@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

$serif: 'Georgia', serif;
$sans: 'Pathway Gothic One', sans-serif;
$sans-secondary: 'Cabin', sans-serif;

$fontsizeXL: 56;
$fontsizeL: 30;
$fontsizeM: 24;
$fontsizeS: 16;

h1{
	font-size: ($fontsizeXL) + px;
	font-family: $sans-secondary; 
	font-weight: 700;
	color: black;
}

h2{
	font-size: ($fontsizeL) + px;
	font-family: $sans; 
	font-weight: normal;
	color: black;
}

h3{
	font-size: ($fontsizeM) + px;
	font-family: $sans-secondary; 
	font-weight: 700;
	color: black;
}

h4{
	font-size: ($fontsizeM) + px;
	font-family: $sans-secondary; 
	font-weight: 400;
	color: black;
}

p{
	font-size: ($fontsizeS) + px;
	font-family: $serif; 
	font-weight: 400;
	color: black;
}

a{
	text-decoration: underline;
	color: $green;
	
	&:hover{
		text-decoration: none;
	} 
}

strong{
	font-weight: bold;
}